<!doctype html>
<html lang="en">
  <head>
    <!-- {% if env == 'production' %} -->
      <!-- Google Analytics -->
    <!-- {% endif %}
     -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block description %}{% endblock %}">
    
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles links -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/mdb.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style3.css') }}">
   
    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    
  </head>
  
  
<body aria-busy="true" onload="updateActiveNav()">
  <!-- Main navigation -->
  <header>
    <!-- Navbar -->
    <nav id="mainNav" class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{url_for('static', filename='assets/camanogreen-logo-only1.png')}}" style="height: 50px; width: 50px"/>
          <strong>Camano Green</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse float-right" id="navbarSupportedContent-7">
          <ul class="navbar-nav mr-auto">
            <li id="navHome" class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/">Home
              </a>
            </li>
            <li id="navGallery" class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/gallery">Gallery</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Navbar -->
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('static/assets/garden.JPG'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row mt-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">Coming Spring 2021</h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
              <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">
                Hi there, my name is Aaron.  I'm starting a farm called Camano Green on which I'll be growing seasonal produce.  
                <br><br>
                I'm a beginning farmer so I'll only be taking a limited number of customers for next Spring.  
                I will have a farmstand at my home on Camano Island and I will also do weekly produce deliveries.
                <br><br>
                If you'd like to be a part of my first season or if you have any questions, please feel free to send me a message via the form on this page.
                <br><br>
                I look forward to hearing from you!
              </h6>
              <!-- <a class="btn btn-outline-white wow fadeInLeft waves-effect waves-light" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInLeft; animation-delay: 0.3s;">Learn more</a> -->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              {% block content %}
              {% endblock %}
            </div>
            <!--Carousel Wrapper-->
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
    <!-- <footer style="background-color: #4050b5" > -->
      <!-- <div class="container"> -->
        <!--Grid row-->
        <!-- <div class="row py-5"> -->
          <!--Grid column-->
          <!-- <div class="col-md-12 text-center"> -->
            <!-- <p class="white-text">footer text</p> -->
          <!-- </div> -->
          <!--Grid column-->
        <!-- </div> -->
        <!--Grid row-->
      <!-- </div> -->
    <!-- </footer> -->
      <!--Footer Layout-->
    
 <!-- jQuery -->
  <!-- <script type="text/javascript" src="../static/js/jquery.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js')}}"></script>
  <!-- Bootstrap tooltips -->
  <!-- <script type="text/javascript" src="../static/js/popper.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
  <!-- Bootstrap core JavaScript -->
  <!-- <script type="text/javascript" src="../static/js/bootstrap.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
  <!-- MDB core JavaScript -->
  <!-- <script type="text/javascript" src="../static/js/mdb.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static',filename='js/mdb.min.js') }}"></script>
  <!-- Your custom scripts (optional) -->
  <script>
    function updateActiveNav() {
      x = window.location.href
      if (x.endsWith('/')) {
        var activeNav = document.getElementById('navHome');
        console.log('home');
      } else if (x.endsWith('/gallery')) {
        var activeNav = document.getElementById('navGallery');
        console.log('gallery');
      }
      activeNav.classList.add('active');
    }

  </script>
  
</body>
</html>