{% extends 'base.html' %}
{% block description %}Camano Green is a small market garden operation on Camano Island.  I'll be offering a CSA service to a limited number of customers for 2021, please let me know if you're interested!{% endblock %}
{% block title %}Camano Green Farm{% endblock %}
{% block content %}

  <!--Form-->
  <div class="card wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-name: fadeInRight; animation-delay: 0.3s;">
    <div class="card-body">
      <!--Header-->
      <div class="text-center">
        <h3 class="white-text">
          <i class="fas fa-user white-text"></i> Say Hello:</h3>
        <hr class="hr-light">
      </div>
      <!--Body-->
      <div class="md-form">
        <i class="fas fa-user prefix white-text"></i>
        <input type="text" id="form3" class="white-text form-control">
        <label for="form3" class="">Your name</label>
      </div>
      <div class="md-form">
        <i class="fas fa-at prefix white-text"></i>
        <input type="email" id="form2" class="white-text form-control">
        <label for="form2" class="">Your email</label>
      </div>
      <div class="md-form">
        <i class="fas fa-envelope-open-text prefix white-text"></i>
        <input type="password" id="form4" class="white-text form-control">
        <label for="form4" class="">Your message</label>
      </div>
      <!-- <div class="text-center mt-4">
        <button class="btn btn-indigo waves-effect waves-light">Send</button>
        <hr class="hr-light mb-3 mt-4">
        <div class="inline-ul text-center d-flex justify-content-center">
          <a class="p-2 m-2 tw-ic">
            <i class="fab fa-twitter white-text"></i>
          </a>
          <a class="p-2 m-2 li-ic">
            <i class="fab fa-linkedin-in white-text"> </i>
          </a>
          <a class="p-2 m-2 ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
      </div> -->
    </div>
  </div>
  <!--/.Form-->
{% endblock %}
